.expandableItem {
    display: flex;
}

.expandCollapseIcon {
    padding: 0 10px;
}

.expandableItemContent {
    border-left: 2px solid blue;
    padding-left: 5px;
}

.expandableItemDescription {
    border-top: 1px solid blue;
    display: none;
    margin: 0;
}