.expandableItem {
    display: flex;
    padding: 5px 0;
}

.expandCollapseIcon {
    padding: 0 10px;
}


.expandableItemDescription {
    border-left: 2px solid blue;
    display: none;
    margin: 0;
    padding-left: 10px;
    width: calc(100% - 15px);
}