.flex-container {
    padding: 0;
    margin: 0 auto;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    color: black;
}

.flex-item-content {
    background: white;
    padding: 5px;
    margin: 2px;
    height: calc(100% - 14px);
}

.fullWidget {
    width: 100%;
}
@media(min-width: 300px) {
    .flex-container {
        width: 300px;
    }
    .widget {
        width: calc(100%);
    }
}
@media(min-width: 600px) {
    .flex-container {
        width: 600px;
    }
    .widget {
        width: calc(100% / 2);
    }
}
@media(min-width: 900px) {
    .flex-container {
        width: 900px;
    }
    .widget {
        width: calc(100% / 2);
    }
}

@media(min-width: 1200px) {
    .flex-container {
        width: 1200px;
    }
    .widget {
        width: calc(100% / 3);
    }
}

@media(min-width: 1500px) {
    .flex-container {
        width: 1500px;
    }
}


