body {
    background-color: #d3d3d3;
    font-family: 'Arial', sans-serif;
}
a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
h1 {
    color: #2F4F4F;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 1em;
}
.center {
    width: 100%;
    text-align: center;
}
.fakeTable {
    display: table;
    width: 100%;
    height: calc(100% - 40px);
}
.fakeTableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
}
.fa-settings {
    cursor: pointer;
}
.textLink {
    margin: 10px 5px;
    display: block;
}
.rssUrl {
    width: 500px;
}
.quote {
    font-style: italic;
}