#days {
    font-size: 3em;
    padding: 10px 0;
    text-align: center;
}
#progressBar {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #ddd;
}

#progress {
    position: absolute;
    height: 100%;
    background-color: blue;
}
