#weatherDescription {
    text-transform: capitalize;
}
.weatherReport {
    display: flex;
    margin: auto 0;
    text-align: center;

}
.temperatures {
    height: calc(100% + 10px);
    vertical-align: middle;
}
.temperatureTable {
    height: 118px;
    width: 50%;
}
.weatherDescription {
    width: 50%;
    border-right: 2px solid black;
}
#weatherIcon {
    padding-top: 15px;
    padding-bottom: 10px;
}
#temperature {
    font-size: 3em;
}